@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400;1,500&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

@layer components {
  .menu-tab{
    @apply text-gray-800 cursor-pointer select-none;
  }
  .active-menu-tab {
    @apply rounded-full px-4 py-2 text-white select-none;
  }
  
}

.bg-primary {
  background: #E49B25;
}

.home-banner {
  background-image: url('../src/assets/fundo-food.jpg');
  height: 400px; 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}